/*** Carte menu ***/
/*** Haut page web ***/

body {

  font-family: "Roboto", serif;
}


.headermenu {
  position  : relative;
  margin-top: 20px;
  display   : flex;
}

.headermenu .fas {
  position   : absolute;
  top        : 0.6em;
  margin-left: 1.5em;
  font-size  : 1.3em;
  color      : black;
}

.headermenu h1 {
  max-width: 100%;
  margin   : auto;

}

.logo a {
  text-decoration: none;
  color          : black;
  font-family    : "Shrikhand", cursive;
}

.photoentete {
  margin: 0;
}

.photoentete {
  max-width      : 100%;
  min-width      : 100%;
  object-fit     : cover;
  object-position: 50% 60%;
  height         : 40vh;
  border-radius  : 20px;
}

.photoentete_img {
  object-position: 50% 50%;
}

.mainmenu {
  position        : relative;
  max-width       : 1350px;
  background-color: #f6f6f6;
  border-radius   : 40px 40px 0 0;
  margin-left     : auto;
  margin-right    : auto;
  margin-top      : -55px;
}


/*.mainmenu {
  position        : relative;
  width           : 100%;
  margin-top      : -55px;
  background-color: #f6f6f6;
  border-radius   : 40px 40px 0 0;

}*/


.menu {
  display: block;
}

.menu_titre,
.menu .carte {
  padding-left : 1.4em;
  padding-right: 1.4em;
  padding-top  : 0.5em;
}

.menu_titre {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.menu_titre h2 {
  font-family: "Shrikhand", cursive;
  font-size  : 1.8em;
  font-weight: 200;
}

/*.carte_titre  {
    font-size  : 600;
    text-transform: uppercase;
    font-weight: 100px;
}*/

.carte_detail {
  height          : 75px;
  margin-bottom   : 1em;
  background-color: white;
  display         : flex;
  border-radius   : 18px;
  box-shadow      : 0 7px 8px #dfdcdc;
  overflow        : hidden;
  cursor          : pointer;
}

.carte_detail-anmt1 {
  animation: menuanmt 1s ease-out;
  opacity  : 1;
}

.carte_prix {
  margin-right   : -20px;
  display        : flex;
  align-items    : flex-end;
  justify-content: flex-end;
  font-weight    : roboto;
  transform      : translateX(120%);
  transition     : 0.6s;
}


.carte_adapter {
  height          : 100%;
  width           : 9.5em;
  border          : none;
  background-color: #99E2D0;
  cursor          : pointer;
  transform       : translateX(102%);
  transition      : 0.8s
}


.carte_detail:hover .carte_prix,
.carte_detail:active .carte_prix {
  transform  : translateX(-130%);
  margin-left: 30px;
}

.carte_detail:hover .fas,
.carte_detail:active .fas {
  transform : rotate(-360deg);
  transition: 0.7s ease-in-out;
}

.carte_infos {
  width       : 170%;
  padding-left: 0.7em;
  overflow    : hidden;
}

.carte_infos h4 {
  margin-bottom  : 0.3em;
  margin-top     : 0.8em;
  /*font-size    : 400;*/
}

.carte_detail:hover>.carte_adapter,
.carte_detail:active>.carte_adapter {
  transform: translateX(0%);
}

.carte_adapter .fas {
  color    : white;
  font-size: 2em;
}

.carte_infos p {
  margin-top   : 0;
  font-size    : 400;
  /*font-weight: 500;*/

}

.toper {
  display        : flex;
  justify-content: center;

}

.btndegrade {
  background   : linear-gradient(#e67ddd, #9356DC);
  color        : #dfdcdc;
  border       : none;
  padding      : 15px 50px;
  border-radius: 100px;
  font-weight  : bold;
  font-family  : "Raleway", "Sans serif";
  font-size    : 1em;
  cursor       : pointer;
  margin       : 0 -50px;
  margin-top   : 2.7em;
  margin-bottom: 3.7em;

}

.btndegrade:hover,
.btndegrade:active {
  opacity   : 0.9;
  box-shadow: 1px 3px 5px #696666;
}


lienfooter ul {
  display: flex;
  justify-content: space-between;
  
  }
  
  footer {
      padding         : 1em;
      background-color: #353535;
      color           : white;
      text-align      : left;
  }
  
  


/* MEDIA QUERIES - PAGE MENU */
/*** Mobiles ***/
@media all and (min-width: 300px) and (max-width: 568px) {
  .menu_titre h2 {
    font-size: 1.4em;
  }

  .carte_prix {
    transform: translateX(90%);
  }
}

/*** Surfaces ***/
@media screen and (min-width: 930px) {
  .menu {
    display              : grid;
    grid-template-columns: repeat(3, 33.2%);

  }
}

/*** Desktop ***/
@media screen and (min-width: 1200px) {
  .mainmenu {
    position    : relative;
    max-width   : 1350px;
    margin-left : auto;
    margin-right: auto;
    margin-top  : -55px;
  }
}