/*** Carte du menu ***/
/*** En tete page web ***/

body {

  font-family: Shrikhand, serif;
}


.headermenu {
  position  : relative;
  margin-top: 20px;
  display   : flex;
}

.headermenu .fas {
  position   : absolute;
  top        : 0.6em;
  margin-left: 1.5em;
  font-size  : 1.3em;
}

.headermenu h1 {
  max-width: 100%;
  margin   : auto;
}

.photoentete {
  margin: 0;
}

.photoentete {
  max-width      : 100%;
  min-width      : 100%;
  object-fit     : cover;
  object-position: 50% 60%;
  height         : 40vh;
}

.photoentete_img {
  object-position: 50% 50%;
}

.menu {
  display: block;
}

.menu_titre,
.menu .carte {
  padding-left : 1.4em;
  padding-right: 1.4em;
  padding-top  : 0.5em;
}

.menu_titre {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.menu_titre h2 {
 
  font-size: 1.8em;
  font-weight: 200;
}

.carte_titre {
  font-weight: 300;
  font-size: 1em;
}

.carte_detail {
  height: 55px;
  margin-bottom: 1em;
  background-color: white;
  display: flex;
  border-radius: 18px;
  box-shadow: 0 7px 8px #dfdcdc;
  overflow: hidden;
  cursor: pointer;
}

.carte_detail-anmt1 {
  animation: menuanmt 1s ease-out;
  opacity: 1;
}

.carte_prix {
  margin-right: -20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  transform: translateX(120%);
  transition: 0.6s;
}