body {
    margin     : auto;
    padding    : auto;
    font-family: 'Roboto', sans-serif;
    word-wrap  : break-word;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

.Zonerecherche {
    background-color: #EAEAEA;
    mix-blend-mode  : darken;
    display         : flex;
    justify-content : center;
    padding         : 0.7em;
}

.Zonerecherche input {
    background-color: #EAEAEA;
    cursor          : pointer;
    font-weight     : bold;
    border          : none;
}




header {
    text-align: center;
    box-shadow: -5px 3px 3px rgba(0, 0, 0, 0.1);
}

header h1 {
    padding-bottom: 0.1em;
    margin-bottom : 0;
}

.Ohmy_logo {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    padding        : 1rem;
    position       : relative;

}

#Realisations {
    background-color: #f6f6f6;
    text-align      : center;
    padding-left    : 10%;
    padding-right   : 10%;


}


.btn_resto {

    padding      : 1em 1.4em 1em 1.4em;
    background   : linear-gradient(to bottom right, #FF79DA, #9356DC);
    color        : white;
    border-radius: 50px;
    border       : none;
    box-shadow   : 1px 3px 5px #dfdcdc;
    font-weight  : bold;
    cursor       : pointer;
    margin-top   : 1em;
    margin-bottom: 3.7em;
}

.Productions ul {
    display         : flex;
    justify-content : space-between;
    background-color: white;
}

.menu-options {

    padding      : 0;
    list-style   : none;
    counter-reset: numeroliste;
}




main {
    background-color: #f6f6f6;
    margin-top      : 4em;
}

/*li {counter-reset: repas; /* on initialise et nomme un compteur */


/*ul {
    counter-reset: none;
}

/* on initialise et nomme un compteur */
/*li {
    list-style-type: none;

    /* on incrémente le compteur à chaque nouveau li */
/* margin-bottom    : 10px;*/


.Productions li {
    margin-right    : auto;
    margin-left     : auto;
    margin-bottom   : 1.3em;
    padding         : 1.4em 2em 1.4em 2.4em;
    text-align      : left;
    max-width       : 50%;
    background-color: #f6f6f6;
    box-shadow      : 1px 5px 10px #dfdcdc;
    border-radius   : 20px;
    font-weight     : bold;
    cursor          : pointer;


}

.menu-options li ::before {
    content          : counter(numeroliste);
    counter-increment: numeroliste;
    /*list-style     : none;*/
    padding          : 6px 10px 6px 10px;
    margin-right     : 8px;
    vertical-align   : top;
    background       : #9356DC;
    border-radius    : 20px;
    box-shadow       : 1px 5px 10px #dfdcdc;
    font-weight      : bold;
    font-size        : 0.7em;
    color            : white;
}


a {
    text-decoration: none;
    color          : black;
}

a:hover,
a:active {
    color: #9356DC;
}


::marker {

    background-color: blueviolet;
    border-radius   : 25px;
}







.cartemenu-element {
    display        : flex;
    justify-content: space-between;
    width          : auto;
    align-items    : center;
}

#Restos {

    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;


}


.cartemenu img {
    flex-direction  : row;
    flex-wrap       : wrap;
    flex-direction  : column;
    background-color: white;
    box-shadow      : 0 7px 8px #dfdcdc;
    border-radius   : 22px;
    object-fit      : cover;

}

.cartemenu_img-1 {

    /*border-radius: 17px 17px 0 0;*/
    object-position: 50% 100%;
}

.cartemenu_img-2 {
    object-position: 12% 61%;
}

.cartemenu_img-3 {
    object-position: 50% 85%;
}


.cartemenu_img-4 {
    object-position: 50% 100%;
}

figcaption {
    background-color: white;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-radius   : 0 0 22px 22px;
    box-shadow      : 0 7px 8px #dfdcdc;
}






.Productions {
    margin  : 1.3em;
    position: relative;
}

.Productions h3 {
    margin-top: 2.4em;
}

.fas {
    color       : #7e7e7e;
    margin-right: 1.6em;
}



.lienfooter ul {
    display        : flex;
    justify-content: space-between;

}

footer {
    padding         : 1em;
    background-color: #353535;
    color           : white;
    text-align      : left;
}

footer h2 {
    margin-top : 0.3em;
    font-family: Shrikhand, serif;
    font-size  : 1.2em;
    font-weight: 100;
}

.lienfooter li {
    padding-bottom: 1em;
}

.lienfooter a {
    color: white;
}

.lienfooter a:hover,
.lienfooter a:active {
    color: #FF79DA;
}

.lienfooter .fas {
    width       : 20px;
    margin-right: 10px;
}